* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
}


.contenedor {
  display: flex;
  background-color: white;
  width: 82%;
  max-width: 960px;
  aspect-ratio: 1.414 / 1; 
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transform: scale(0.82); 
  transform-origin: center;
  overflow: hidden;
}


.lado-izquierdo {
  background-color: #2c3e50;
  color: white;
  width: 30%;
  padding: 25px 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.lado-izquierdo .foto img {
  width: 200px; 
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  image-rendering: auto; 
}


.lado-izquierdo .seccion {
  width: 100%;
  text-align: left;
  line-height: 1.4;
  font-size: 0.8em;
}

.lado-izquierdo h3 {
  font-size: 0.98em;
  margin-bottom: 8px;
}

.lado-izquierdo h4 {
  font-size: 0.9em;
  margin: 4px 0;
}

.lado-izquierdo i {
  color: #00bcd4;
  margin-right: 6px;
}

.separador {
  border: none;
  border-top: 1.5px solid rgba(255, 255, 255, 0.3);
  margin: 5px 0;
}


#lado-derecho {
  flex: 1;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 20px;
  font-size: 0.85em;
  overflow: hidden;
}


#nombre {
  font-size: clamp(16px, 2vw, 28px);
  margin-bottom: 3px;
}

#rol {
  font-size: 13px;
  color: #555;
  margin-bottom: 5px;
}

h3 {
  margin: 1.8px 0;
  font-size: 0.95em;
  color: #2c3e50;
}

p {
  line-height: 1.3;
  margin: 3px 0 6px;
}

.parrafo-adelantado {
  margin: 3px 20px 6px;
  font-size: 0.85em;
}


hr {
  border: none;
  border-top: 1.5px solid rgba(0, 0, 0, 0.15);
  margin: 8px 0;
  width: 100%;
}


.habilidad {
  display: flex;
  align-items: center;
  margin: 2.5px 0;
  font-size: 0.85em;
  width: 100%;
}


.barra {
  position: relative;
  width: 110px;
  height: 8px;
  background-color: #ccc;
  border-radius: 10px;
  overflow: hidden;
  margin: 0px 10px;
}

.barra::before {
  content: "";
  position: absolute;
  height: 100%;
  width: var(--porcentaje, 0%);
  background-color: #2c3e50;
  border-radius: 10px;
  animation: llenarBarra 1s ease-out forwards;
}


.nivel-1 { --porcentaje: 20%; }
.nivel-2 { --porcentaje: 40%; }
.nivel-3 { --porcentaje: 60%; }
.nivel-4 { --porcentaje: 80%; }
.nivel-5 { --porcentaje: 100%; }


@keyframes llenarBarra {
  from { width: 0; }
  to { width: var(--porcentaje); }
}


.contenedor * {
  max-width: 100%;
  overflow-wrap: break-word;
}

#contacto{
  color: white;
}
#referencias{
  color: white;
  margin: top 20px;
}