.contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 100%;
    margin: auto;
    align-items: stretch;
    justify-content: center;
    border: 2px solid black;
    overflow: visible;
}

.caja{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "Bricolage Grotesque", sans-serif;
    align-items: center;
    justify-content: start;
    padding: 20px;
    height:auto;
}

.lado-derecho{
    display: flex;
    flex: 3;
    background-color: white;
    align-items: start;
    justify-content: start;
}

.lado-izquierdo{
    display: flex;
    flex: 1.8;
    background-color:  #2c3e50;
    color: white;
    align-items: center;
    justify-content: start;
}


.foto{
    display: flex;
    align-items: start;
    justify-content: center;
}

img{
    display: flex;
    height: auto;
    max-width: 50%;
    border-radius: 50%;
    object-fit: cover;
    image-rendering: auto;
    padding: 5px;
}

i{
    padding: 5px;
}

.seccion{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.seccion2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

#referencias{
    padding: 0;
    margin: 70px 0 10px;
}

#contacto{
    padding: 0;
    margin: 50px 0 10px;
}

.separador{
    width: 100%;
    height: 0.5px;
    background-color: white;
}

hr {
  border: none;
  border-top: 1.5px solid rgba(0, 0, 0, 0.15);
  margin: 8px 0;
  width: 100%;
}


.parrafo-adelantado {
  margin: 3px 50px 6px;
  font-size: 0.85em;
}

span{
    padding: 0;
    margin: 30px 0 2px;
}

.información{
    padding: 0;
    margin: 0;
}

.habilidad {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: 0.85em;
    width: 100%;
}


.barra {
    position: relative;
    width: 110px;
    height: 8px;
    background-color: #ccc;
    border-radius: 10px;
    overflow: hidden;
    margin: 0px 10px;
}

.barra::before {
    content: "";
    position: absolute;
    height: 100%;
    width: var(--porcentaje, 0%);
    background-color: #2c3e50;
    border-radius: 10px;
    animation: llenarBarra 1s ease-out forwards;
}


.nivel-1 { --porcentaje: 20%; }
.nivel-2 { --porcentaje: 40%; }
.nivel-3 { --porcentaje: 60%; }
.nivel-4 { --porcentaje: 80%; }
.nivel-5 { --porcentaje: 100%; }


@keyframes llenarBarra {
  from { width: 0; }
  to { width: var(--porcentaje); }
}

@media (max-width: 768px) {
  .contenedor {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .lado-izquierdo,
  .lado-derecho {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
  }

  img {
    max-width: 60%;
  }

  h1 {
    font-size: 1.3rem;
    text-align: center;
  }

  h2 {
    font-size: 1.1rem;
    text-align: center;
  }

  p, span {
    font-size: 0.9rem;
    text-align: justify;
  }

  .parrafo-adelantado {
    margin: 3px 25px 6px;
    font-size: 0.85em;
  }
}


